body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.container
{
	position: relative;
	width: 1200px;
	height: 300px;
	margin: 100px auto;
}

.container .box
{
	position: relative;
	width: calc(400px - 30px);
	height: calc(300px - 30px);
	background: #F93;
	float: left;
	margin: 15px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;
	cursor: pointer;
}

.container .box .icon
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #900;
	transition: 0.5s;
	z-index: 1;
}

.container .box:hover .icon
{
	top: 20px;
	left: calc(50% - 40px);
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.container .box .icon .fa
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 80px;
	transition: 0.5s;
	color:#FFF;
}

.container .box:hover .icon .fa
{
	font-size:40px;
}

.container .box .content
{
	position:absolute;
	top:100%;
	height:calc(100% - 100px);
	text-align:center;
	padding:20px;
	box-sizing:border-box;
	transition:0.5s;
	opacity:0;
}

.container .box:hover .content
{
	top:100px;
	opacity:1;
}

.container .box .content h3
{
	margin:0 0 10px;
	padding:0;
	color:#000;
	font-size:24px;
}

.container .box .content p
{
	text-align:center;
	margin:0;
	padding:0;
	color:#000;
	
}

.containter .box:nth-child(1) .icon
{
	background: #319635;
}

.containter .box:nth-child(1)
{
	background: #4caf50;
}

.containter .box:nth-child(2) .icon
{
	background: #d03852;
}

.containter .box:nth-child(2)
{
	background: #f54967;
}

.containter .box:nth-child(3) .icon
{
	background: #23798e;
}

.containter .box:nth-child(3)
{
	background: #328fa5;
}

.box input[type = "button"]
{
	text-transform: uppercase;
	font-weight: 1000;
	border: 0;
	background: #FFF;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px;
	width: 200px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.5s;
	cursor: pointer;
}